venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
mlruns/
.pytest_cache/
.dvc/cache/
data/raw/*.csv
data/interim/*.csv
data/processed/*.csv
data/processed/*.npz
models/artifacts/*.pkl
models/artifacts/*.pt
models/artifacts/*.joblib
models/artifacts/*.json
